.search-list {
    position: absolute;
    max-height: 200px;
    width: 100%;
    top: 70px;
    overflow-y: auto;
    border: 1px solid #aaa;
    border-top: 0;
    box-sizing: border-box;
}
.search-list_none {
    display: none;
}