.open-image {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
}


.open-image__close {
    font-size: 40px;
    margin: 20px;
    align-self: flex-end;
    user-select: none;
}

.open-image__close:hover {
    color: #666666;
    cursor: pointer;
}

.open-image__array{
    font-size: 80px;
    font-weight: bold;
    margin: 20px;
    user-select: none;
}
.open-image__array:hover{
    color: #666666;
    cursor: pointer;
}

.open-image__image {
    overflow: hidden;
    height: 100%;
    flex-basis: 90%;
    position: relative;
}

.open-image__image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 10px;
    max-height: 100%;
    max-width: 100%;
}

.open-image__count {
    align-self: flex-end;
    font-size: 30px;
    margin: 20px;
}

.open-image__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 90%;

}