
.search-container {
    position: relative;
    height: 70px;
    max-width: 700px;
    margin: auto;
}

.main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.search-place {
    background-color: #f5f5f5;
    transition: all .5s .5s;
}

.search-place_center {
    background-color: transparent;
    transition: all .5s;
}

.main-content {
    height: calc(100% - 70px);
    overflow-y: auto;
    transition: all .5s;
}

.main-content_none {
    height: 0;
    transition: all .5s .5s;
}

.m-b {
    margin-bottom: 25px;
}


::-webkit-scrollbar{
    width:8px;
    height:8px;
}

::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: rgb(49, 27, 146);
    background-color: rgba(49, 27, 146, 0.7);
}

::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: rgb(49, 27, 146);
    background-color:rgb(49, 27, 146);
}

::-webkit-scrollbar-track{
    background-color: #aaa;
}

::-webkit-scrollbar-corner {
    background-color: #aaa;
}
