.info-movie {
    overflow: hidden;
    color: #212121;
    font-weight: 500;
    font-size: 24px;
}

.info-movie ul {
    list-style: none;
}

.info-text {
    color: #424242;
    font-weight: 300;
}