.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-list-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-movies {
    border: 3px solid rgba(49, 27, 146, 0.7);
    border-radius: 50px;
    text-align: center;
    outline: none;
    color: rgba(49, 27, 146, 0.7);
    padding: 15px 30px;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #eee;
}
.add-movies:hover {
    color: #eee;
    background-color: rgba(49, 27, 146, 1);
    cursor: pointer;
}

