.search-list-elem {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.search-list-elem:hover {
    background-color: #ddd;
    cursor: pointer;
}

.search-list-elem__name {
    color: #666;
}

.search-list-elem__main-name {
    color: #222;
    font-weight: bold;
}

.search-list-elem__vote {
    font-weight: bold;
}

.search-list-elem__vote_low {
    color: #bf0000;
}

.search-list-elem__vote_medium {
    color:  #ffa500;
}
.search-list-elem__vote_high {
    color: #009611;
}

