.search {
    border-bottom: 5px solid rgba(49, 27, 146, 0.7);
    display: inline-flex;
    height: 60px;
}

.search__input {
    border: 0;
    outline: none;
    color: #424242;
    font-weight: 500;
    font-size:  50px;
    width: 100%;
    background-color: transparent;
}

.search__search-img {
    background: url("../../img/search.svg") no-repeat center;
}


.search__img {
    width: 60px;
    display: inline-block;
    cursor: pointer;
    opacity: .7;
    outline: none;
    border: 0;
    margin: 6px 0;
}

.search__img:hover {
    opacity: 1;
}