.element-card {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 10px;
    width: 280px;
}

.element-card__poster {
    width: 260px;
    height: 390px;
    overflow: hidden;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, .5);
    border-radius: 10px;
    margin-bottom: 10px;
}

.element-card__poster:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    cursor: pointer;
}

.element-card__name {
    text-align: center;
    color: #000;
    font-size: 24px;
    font-weight: 500;
}

.element-card__name:hover {
    color: rgba(49, 27, 146, 1);
    cursor: pointer;
}