.images-container {
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    height: 150px;
}

.title-slider {
    color: #212121;
    font-weight: 500;
    font-size: 24px;
}