.place-spiner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eeeeee;
}


@keyframes lds-rolling {
   0% {
       -webkit-transform: translate(-50%, -50%) rotate(0deg);
       transform: translate(-50%, -50%) rotate(0deg);
   }
   100% {
       -webkit-transform: translate(-50%, -50%) rotate(360deg);
       transform: translate(-50%, -50%) rotate(360deg);
   }
}
@-webkit-keyframes lds-rolling {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.lds-rolling {
    position: relative;
}
.lds-rolling div,
.lds-rolling div:after {
    position: absolute;
    width: 180px;
    height: 180px;
    border: 20px solid rgba(49, 27, 146, 0.7);
    border-top-color: transparent;
    border-radius: 50%;
}
.lds-rolling div {
    -webkit-animation: lds-rolling 1s linear infinite;
    animation: lds-rolling 1s linear infinite;
    top: 100px;
    left: 100px;
}
.lds-rolling div:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.lds-rolling {
    width: 197px !important;
    height: 197px !important;
    -webkit-transform: translate(-98.5px, -98.5px) scale(0.985) translate(98.5px, 98.5px);
    transform: translate(-98.5px, -98.5px) scale(0.985) translate(98.5px, 98.5px);
}
