.container {
    overflow: hidden;
    max-width: 1170px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    overflow-y: auto;
}

.left-col {
    width: 69%;
}
.right-col {
    width: 30%;
}


@media all and (max-width: 640px) {

    .container {
        display: flex;
        flex-direction: column;
    }

    .left-col {
        width: 100%;
    }
    .right-col {
        order: -1;
        width: 100%;
    }
}